GATEWAY_AGENT_KEY=mcp_agt_payops_demo
GATEWAY_HUMAN_KEY=mcp_human_controller_demo
SPEND_AGENT_KEY=spend_agt_payops_demo
SPEND_HUMAN_KEY=spend_human_controller_demo
CFO_AGENT_KEY=cfo_agt_lease_demo
CFO_HUMAN_KEY=cfo_human_controller_demo
# SPEND_PLANE_URL=http://127.0.0.1:7475
# MCP_SESSION_MODE=stateless
# MCP_REPLICA_ID=gw-local
